# Azure embedding model details
AZURE_OPENAI_EMBEDDING_DIMENSIONS= "3072"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT="text-embedding-3-large"
EMBEDDING_MODEL_NAME= "text-embedding-3-large"
AZURE_OPENAI_API_VERSION="2023-05-15"
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
TAVILY_API_KEY="tvly-OaapUYwyGMRtk"
GROQ_API_KEY="gsk_3WBHdA1PVKTuJ53mY"